extends layout

block content
  h1(id='header') Coming soon!
  p(id='header2') appalounge.com is still in development..
  a(style='float:right', href='/dankmemes') Dank Memes
  img(src='images/11989105_883896211686452_401753163_n.gif')
