doctype html
html
  head
    title Edit User - Appa Lounge
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/js/common.js')
    script(src='/js/editUser.js')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
  body
    div
        .navbar-wrapper
          .container
            nav.navbar.navbar-inverse.navbar-static-top
              .container
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='/')
                    p Appa Lounge
                #navbar.navbar-collapse.collapse
                  ul.nav.navbar-nav
                    li
                      a(href='/') Home
                    li.active
                      a(href='/users') Members
                    li
                      a(href='/gallery') Gallery
                    li
                      a(href='/events') Events
                    li
                      a(href='/chat') Chat
                    li
                      a(href='/files') Files
                    li
                      a(href='/', id='loginlogout')
        .container.marketing
          h2#title.needs-margin
            | Edit User
            span.text-muted
          h3#subtitle.text-muted
          hr.featurette-divider
          // h3 class="text-muted" id="subtitle">Sorry, no photos yet!</h3
          div(id='errorMessage')
          table(id="editUserPage")
            tr
              td
                h3(style="text-align:center;padding-left:25px;padding-right:25px") User Info
              td
                h3(style="text-align:center;padding-left:25px;padding-right:25px") Profile Picture
              td
                h3(style="text-align:center;padding-left:25px;padding-right:25px") Change Password
            tr
              td(style="padding-right:20px")
                form(id='editUserForm')
                  table
                    tr
                      td
                        div(style='text-align:right') First name: 
                      td(style="padding-left:15px")
                        input(type='text', id="firstName")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="firstNamePublic")
                        label(style="padding-left:10px") Public
                    tr
                      td(style="padding-top:10px")
                        div(style='text-align:right') Last name: 
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='text', id="lastName")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="lastNamePublic")
                        label(style="padding-left:10px") Public
                    tr
                      td(style="padding-top:10px")
                        div(style='text-align:right') Nickname: 
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='text', id="nickname")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="nicknamePublic")
                        label(style="padding-left:10px") Public
                    tr
                      td(style="padding-top:10px")
                        div(style='text-align:right') Email: 
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='text', id="email")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="emailPublic")
                        label(style="padding-left:10px") Public
                    tr
                      td(style="padding-top:10px")
                        div(style='text-align:right') Phone: 
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='text', id="phone")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="phonePublic")
                        label(style="padding-left:10px") Public
                    tr
                      td(style="padding-top:10px")
                        div(style='text-align:right') Room: 
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='text', id="room")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="roomPublic")
                        label(style="padding-left:10px") Public
                    tr
                      td(style="padding-top:10px")
                        div(style='text-align:right') Year: 
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='text', id="year")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="yearPublic")
                        label(style="padding-left:10px") Public
                    tr
                      td(style="padding-top:10px")
                        div(style='text-align:right') Homepage: 
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='text', id="homepage")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="homepagePublic")
                        label(style="padding-left:10px") Public
                    tr
                      td(style="padding-top:10px")
                        div(style='text-align:right') City: 
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='text', id="city")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="cityPublic")
                        label(style="padding-left:10px") Public
                    tr
                      td(style="padding-top:10px")
                        div(style='text-align:right') State/Province: 
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='text', id="state")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="statePublic")
                        label(style="padding-left:10px") Public
                    tr
                      td(style="padding-top:10px")
                        div(style='text-align:right') Country: 
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='text', id="country")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="countryPublic")
                        label(style="padding-left:10px") Public
                    tr
                      td(style="padding-top:10px")
                        div(style='text-align:right') Extra: 
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='text', id="extra")
                      td(style="padding-left:15px;padding-top:10px")
                        input(type='checkbox', id="extraPublic")
                        label(style="padding-left:10px") Public
                    tr
                      td
                      td(style="padding-top:10px")
                        input(type="submit", value="Save", style="float:right")
              td(style="padding-left:20px;padding-right:20px;border-left:2px solid gray")
                form(id='profilePicForm', action="/profilepic", method="post", enctype="multipart/form-data", style="float:right")
                  div(id="userPicture")
                  input(type="file" name="file" style="margin:auto")
                  input(type="submit" value="Set profile pic" style="float:right")
              td(style="padding-left:20px;border-left:2px solid gray")
                form(id='changePasswordForm')
                  div Password:
                  input(type="password" id="password" style="margin:auto")
                  div New password:
                  input(type="password" id="newPassword")
                  div Confirm new password:
                  input(type="password" id="confirmNewPassword")
                  br
                  br
                  input(type="submit" value="Change password")
                  div(id='passwordErrorMessage')
          hr.featurette-divider
          // FOOTER
          footer
            p.pull-right
              a(href='#') Back to top
            p
              | © 2015 Appa Lounge · 
              a(href='privacy.html') Privacy
              |  · 
              a(href='terms.html') Terms
        //
          Bootstrap core JavaScript
          ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        //script(src='js/bootstrap.min.js')
        //script(src='js/docs.min.js')
        // IE10 viewport hack for Surface/desktop Windows 8 bug
        //script(src='js/ie10-viewport-bug-workaround.js')
    
