doctype html
html
  head
    title Files - Appa Lounge
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/js/files.js')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
  body
    div
        .navbar-wrapper
          .container
            nav.navbar.navbar-inverse.navbar-static-top
              .container
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='/')
                    p Appa Lounge
                #navbar.navbar-collapse.collapse
                  ul.nav.navbar-nav
                    li
                      a(href='/') Home
                    li
                      a(href='/users') Members
                    li.active
                      a(href='/gallery') Gallery
                    li
                      a(href='/events') Events
        .container.marketing
          h2#title.needs-margin
            | Uploads
            span.text-muted
          h3#subtitle.text-muted Upload pictures or other files
          hr.featurette-divider
          // h3 class="text-muted" id="subtitle">Sorry, no photos yet!</h3
          div(id='files')
                    
          hr.featurette-divider
          // FOOTER
          footer
            p.pull-right
              a(href='#') Back to top
            p
              | © 2015 Appa Lounge · 
              a(href='/privacy.html') Privacy
              |  · 
              a(href='/terms.html') Terms
        //
          Bootstrap core JavaScript
          ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        //script(src='js/bootstrap.min.js')
        //script(src='js/docs.min.js')
        // IE10 viewport hack for Surface/desktop Windows 8 bug
        //script(src='js/ie10-viewport-bug-workaround.js')
    
