doctype html
html
  head
    title User List - Appa Lounge
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/js/userList.js')
  body
    div(id='userList')
    
